[Unit]
Description=strongSwan IPsec IKEv1/IKEv2 daemon using ipsec.conf
After=syslog.target network.target

[Service]
ExecStart=/usr/local/sbin/ipsec start --nofork
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
